**

!LICENSE

!NOTICE.md
!README.md
!README.*.md
!CHANGELOG.md
!CHANGELOG.*.md

!package.json
!package.nls.json
!package.nls.*.json

!resources/**
!syntaxes/**
!tools/**
!l10n/**
!content_templates/**
!mitre_attack/data/parsed/**

!client/out/**/*.js
!server/out/**/*.js
!out/**/*.js

!client/templates/*.html
!client/templates/js/**
!client/templates/shared/**
!client/templates/styles/**

!client/webview/out/**
!client/webview/node_modules/monaco-editor/min/vs/**
!client/webview/node_modules/@vscode/codicons/dist

!client/node_modules/prettier/package.json
!client/node_modules/prettier/*.{js,cjs,mjs}
!client/node_modules/prettier/plugins/yaml.mjs
