.root {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
  color: var(--vscode-settings-headerForeground);

  &.isRequired::after {
    content: '*';
    display: inline-block;
    margin-left: 4px;
    color: var(--vscode-editorError-foreground);
  }
}

.content {
  min-width: 0;
  display: table-cell;
  align-content: center;
  vertical-align: middle;
  padding: 2px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;

  & > span {
    position: relative;
    top: 3px;
  }
}
