.root {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 5px;
  font-size: inherit;
  color: inherit;
  outline: none;
  cursor: pointer;

  &:hover {
    outline: 1px dashed var(--vscode-toolbar-hoverOutline);
    outline-offset: -1px;
    background-color: var(--vscode-toolbar-hoverBackground);
  }

  &.isDisabled {
    opacity: 0.4;
    cursor: default;
  }
}
