<!DOCTYPE html>
<html>
  <head>
    <style>
      .editor { font-family: 'Roboto Mono', monospace; font-size: 12px; outline: none; overflow-y: auto; padding-left: 48px; counter-reset: line; }
      .editor div { display: block; position: relative; white-space: pre-wrap; }
      .editor div::before { content: counter(line); counter-increment: line; position: absolute; right: calc(100% + 16px); opacity: 0.5; }
    </style>
	<link rel="stylesheet" href="styles/hljs.css">
  </head>

  <body>
    <div class="editor" contenteditable="true" spellcheck="false">
      <div>function example() {</div>
      <div>  return 42;</div>
      <div>}</div>
    </div>
	
	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/highlight-10.0.1.min.js"></script>

    <script>
		
      // Syntax highlight for JS
      const js = el => {
        for (const node of el.children) {
        //   const s = node.innerText
        //     .replace(/(\/\/.*)/g, '<em>$1</em>')
        //     .replace(
        //       /\b(new|if|else|do|while|switch|for|in|of|continue|break|return|typeof|function|var|const|let|\.length|\.\w+)(?=[^\w])/g,
        //       '<strong>$1</strong>',
        //     )
        //     .replace(/(".*?"|'.*?'|`.*?`)/g, '<strong><em>$1</em></strong>')
        //     .replace(/\b(\d+)/g, '<em><strong>$1</strong></em>');
        //   node.innerHTML = s.split('\n').join('<br/>');
			const s = node.innerText;
			const highlightNormEvent = hljs.highlightAuto(s).value;
			node.innerHTML = highlightNormEvent;
        }
      };

      const editor = (el, highlight = js, tab = '    ') => {
        const caret = () => {
          const range = window.getSelection().getRangeAt(0);
          const prefix = range.cloneRange();
          prefix.selectNodeContents(el);
          prefix.setEnd(range.endContainer, range.endOffset);
          return prefix.toString().length;
        };

        const setCaret = (pos, parent = el) => {
          for (const node of parent.childNodes) {
            if (node.nodeType == Node.TEXT_NODE) {
              if (node.length >= pos) {
                const range = document.createRange();
                const sel = window.getSelection();
                range.setStart(node, pos);
                range.collapse(true);
                sel.removeAllRanges();
                sel.addRange(range);
                return -1;
              } else {
                pos = pos - node.length;
              }
            } else {
              pos = setCaret(pos, node);
              if (pos < 0) {
                return pos;
              }
            }
          }
          return pos;
        };

        highlight(el);

		// Обработка символа табуляции
        el.addEventListener('keydown', e => {
          if (e.which === 9) {
            const pos = caret() + tab.length;
            const range = window.getSelection().getRangeAt(0);
            range.deleteContents();
            range.insertNode(document.createTextNode(tab));
            highlight(el);
            setCaret(pos);
            e.preventDefault();
          }
        });

		// $('.editor').on('keyup', function(e){
		// 	//detect 'tab' key
		// 	if(e.keyCode == 9){
		// 		//add tab
		// 		document.execCommand('insertHTML', false, '&#009');
		// 		//prevent focusing on next element
		// 		e.preventDefault()   
		// 	}
		// });

        el.addEventListener('keyup', e => {
          if (e.keyCode >= 0x30 || e.keyCode == 0x20) {
            const pos = caret();
            highlight(el);
            setCaret(pos);
          }
        });
      };

      // Turn div into an editor
      const el = document.querySelector('.editor');
      el.focus();
      editor(el);
    </script>
  </body>
</html>

<!-- <html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Тесты</title>
	
		<link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" href="styles/tests.css">
		<link rel="stylesheet" href="styles/hljs.css">

		<style>
			code {
				display: block;
				white-space: pre-wrap
			}
		</style>
		
	</head>
	<body>
		<div class="test_block">
			<div class="block_header">
				<div class="scrolldown" onclick="togleTextarea(this)">ᐯ</div>
				<label for="expect" class="label">Условия прохождения теста:</label>
			</div>
			<div class="manage_buttons">
				<input id="clean_test_button" type="button" value="Очистить">
			</div>

			<div class="text">
				<div contenteditable="true" id="expect_event" name="expect" placeholder="expect 1 {&quot;correlation_name&quot; : &quot;{{RuleName}}&quot;}">
{<br>
	"field1" : "value1", <br>
	"field2" : "value2", <br>
} <br>
				</div>
			</div>
			<code id="code" contenteditable="true">
{<br>
	"field1" : "value1", <br>
	"field2" : "value2", <br>
} <br>			
			</code>
		</div>

		<script src="js/jquery-3.6.0.min.js"></script>
		<script src="js/highlight-10.0.1.min.js"></script>

		<script>

			const caret = el => {
				const range = window.getSelection().getRangeAt(0);
				const prefix = range.cloneRange();
				prefix.selectNodeContents(el);
				prefix.setEnd(range.endContainer, range.endOffset);
				return prefix.toString().length;
			};

			const setCaret = (pos, parent) => {
				for (const node of parent.childNodes) {
					if (node.nodeType == Node.TEXT_NODE) {
					if (node.length >= pos) {
						const range = document.createRange();
						const sel = window.getSelection();
						range.setStart(node, pos);
						range.collapse(true);
						sel.removeAllRanges();
						sel.addRange(range);
						return -1;
					} else {
						pos = pos - node.length;
					}
					} else {
						pos = setCaret(pos, node);
						if (pos < 0) {
							return pos;
						}
					}
				}
				return pos;
			};
			
			$(document).ready(function() {
				const elem = $("[name=expect]");
				let expectText = elem.text();
				const highlightNormEvent = hljs.highlightAuto(expectText).value;
				elem.html(highlightNormEvent);

				// const codeElem = $("#code");
				// let codeText = codeElem.text();
				// const codeTextHighlight = hljs.highlightAuto(codeText).value;
				// codeElem.html(codeTextHighlight);

				elem.on('keyup', e => {
					if (e.keyCode >= 0x30 || e.keyCode == 0x20) {
						const pos = caret();
						// highlight(el);
						let expectText = elem.text();
						const highlightNormEvent = hljs.highlightAuto(expectText).value;
						elem.html(highlightNormEvent);
						setCaret(pos);
					}
				});
			});
		</script>
	</body>
</html> -->