<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тесты</title>

	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">
	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/tests.css">
	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/hljs.css">

</head>
	<body>
		<!-- Common Panel -->
		<div id="header">
			<div id="navigation">
				<input id="run_tests" class="run" name="full_test" type="button" value="&#9654;   Запустить все тесты  ">			
				<input id="save_all_tests" class="save" type="button" value="Сохранить все">
			</div>
			<!-- Tab links -->
			<div class="tab">
				<div class = 'tablinks-wrap'>
					{{#IntegrationTests}}
					<div 
						class="tablinks {{TestStatus}}"
						onclick="openTest('{{TestNumber}}')" 
						id="tab{{TestNumber}}"
					>
						<span>Тест №{{TestNumber}}</span>
						<button 
							class="delete-tablink" 
							id="test{{TestNumber}}" 
							hidden
						>
							&#128465;
						</button>
					</div>
					{{/IntegrationTests}}
					<button id="add-test" onclick="createTest()">+</button>
				</div>
			</div>
	    </div>

		<!-- Tab content -->
		<div id="main-body" class="tabs">
		{{#IntegrationTests}}
		<div id="{{TestNumber}}" name="test" data-test="{{JsonedTestObject}}" class="tabcontent">
			
			<!-- Верните две строки ниже, когда будете готовы выводить сообщение об ошибке -->
			<!-- <div class="alert {{TestStatus}}">
				<p>{{alertMessage}}</p>
			</div> -->

			<!-- Raw Events -->
			<div class="test_block">
				<div class="block_header">
					<div class="scrolldown" onclick="toggleTextarea(this)">ᐯ</div>
					<label for="raw_event" class="label">Сырые события:</label>

					<input type="checkbox" name="word-wrap" onclick="wrap(this);" checked>
					<label for="word-wrap">переносить по словам</label>
				</div>
				
				<div class="manage_buttons">				
					<div class="dropdown">
						<input class="dropbtn" type="button" value="Обернуть в конверт сырые события">
						<div class="dropdown-content">
							<div name="add_envelope">application/x-pt-eventlog</div>
							<div name="add_envelope">application/json</div>
							<div name="add_envelope">text/plain</div>
							<div name="add_envelope">text/csv</div>
							<div name="add_envelope">text/xml</div>
						</div>
					</div>
					<input name="normalize_and_enrich" type="button" value="Нормализовать и обогатить">
					<input name="normalize" type="button" value="Нормализовать">
				</div>

				<div class="text">
					<div 
						contenteditable="true"
						class='xp_code json_highlight' 
						name="raw_events">{{RawEvents}}</div>
				</div>	
			</div>

			<!-- Norm Events -->
			{{#NormEvents}}
			<div class="test_block">
				<div class="block_header">
					<div class="scrolldown" onclick="toggleTextarea(this)">ᐯ</div>
					<label for="norm_event" class="label">Нормализованное событие:</label>
				</div>
				<div class="manage_buttons">
				</div>
				<div class="text">
					<div 
						contenteditable="true" 
						oncut="return false"
						onpaste="return false"
						onkeydown="if(event.metaKey) return true; return false;"
						class="xp_code json_highlight" 
						name="norm_event">{{NormEvents}}</div>
				</div>
			</div>
			{{/NormEvents}}

			<!-- Test Conditions -->
			<div class="test_block">
				<div class="block_header">
					<div class="scrolldown" onclick="toggleTextarea(this)">ᐯ</div>
					<label for="expect" class="label">Условие прохождение теста:</label>
				</div>
				<div class="manage_buttons">
					<!-- Получить ожидаемое событие можно только при наличии нормализованных событий -->
					{{#NormEvents.0}}
						<input name="fast_test" type="button" value="&#9654;   Получить ожидаемое событие  ">
					{{/NormEvents.0}}
					<!-- Сравнить полученные результаты можно только если тест прошёл неуспешно -->
					{{#IsFailed}}
						<input id="open_result_diff" type="button" value="Сравнить полученные результаты">
					{{/IsFailed}}

					<input id="clean_test_button" type="button" value="Очистить" alt="Исключает из кода теста технические поля события">
				</div>

				<div class="text">
					<div 
						contenteditable="true"
						class='xp_code xp-test_highlight' 
						name="expect" 
						placeholder="expect 1 {&quot;correlation_name&quot; : &quot;{{RuleName}}&quot;}"
						id="expect{{TestNumber}}"
						>{{TestCode}}</div>
				</div>
			</div>
		</div>
		{{/IntegrationTests}}
		</div>
		
		<!-- Сохраняем временные данные. -->
		<input id="active_test_number" type="hidden" value="{{ActiveTestNumber}}">
		<input id="active_test_result" type="hidden" value="{{ActiveTestResult}}">
		
		<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/highlight-11.7.0.min.js"></script>

		<script>
			// Глобальное определение функций.

			// Сохраняем все тесты.
			function saveAllTests() {					
				const tests = [];
				$(document).find("[name='test']").each(function () {
					// Получаем поля теста.
					const testObject = $(this).data("test");

					const id = $(this).attr('id');

					if(id == "0") {
						return;
					}

					const rawEvents = $(this).find('[name="raw_events"]').text();
					const testCode = $(this).find('[name="expect"]').text();
					const normEvents = $(this).find('[name="norm_event"]').text();

					tests.push({
						"number" : id,
						"rawEvents" : rawEvents,
						"testCode" : testCode,
						"normEvents" : normEvents
					});
				});

				// Передаем номер активного теста, чтобы после сохранения он таким и остался.
				const activeTestNumber = $("#active_test_number").val();

				vscode.postMessage({
					command: 'saveAllTests',
					activeTestNumber : activeTestNumber,
					tests: tests
				});
			};
			
			const editor = (el, tab = '    ') => {
					const caret = () => {
						const range = window.getSelection().getRangeAt(0);
						const prefix = range.cloneRange();
						prefix.selectNodeContents(el);
						prefix.setEnd(range.endContainer, range.endOffset);
						return prefix.toString().length;
					};

					const setCaret = (pos, parent = el) => {
						for (const node of parent.childNodes) {
						if (node.nodeType == Node.TEXT_NODE) {
							if (node.length >= pos) {
							const range = document.createRange();
							const sel = window.getSelection();
							range.setStart(node, pos);
							range.collapse(true);
							sel.removeAllRanges();
							sel.addRange(range);
							return -1;
							} else {
							pos = pos - node.length;
							}
						} else {
							pos = setCaret(pos, node);
							if (pos < 0) {
							return pos;
							}
						}
						}
						return pos;
					};

					// Обработка символа табуляции
					el.addEventListener('keydown', e => {
						if (e.which === 9) {
							const pos = caret() + tab.length;
							const range = window.getSelection().getRangeAt(0);
							range.deleteContents();
							document.execCommand("InsertHTML", false, tab);
							setCaret(pos);
							e.preventDefault();
						}
					});

					// Обработка вставки символа с поддержкой выделения на Ctrl+A.
					el.addEventListener('keyup', e => {
						if ((e.keyCode >= 0x30 || e.keyCode == 0x20) && !(e.ctrlKey && e.code == 'KeyA')) {
							const pos = caret();
							setCaret(pos);
						}
					});
				};

			function toggleTextarea(arrow) {
				labels = arrow.parentNode.parentNode.children[1];
				txt = arrow.parentNode.parentNode.children[2];
				if (txt.style.display == 'none') {
					txt.style.display = 'block'
					labels.hidden = false;
					arrow.innerHTML = "ᐯ";
				} else {
					txt.style.display = 'none'
					labels.hidden = true;
					arrow.innerHTML = "❯";
				}
			}

			function openTest(testId) {
				const currentId = `tab${testId}`
				const jQueryTab = $(`#${currentId}`)
				const jQueryExpect = $(`#expect${testId}`)
				const jQueryPage = $(`#${testId}`)
				const jQueryActiveTest = $('#active_test_number')

				// получаем список всех нескрытых вкладок
				const nonHiddenTabs = $('.tablinks:visible').toArray()
				const currentTab = nonHiddenTabs.find((elem) => elem.id === currentId)

				$.each($('.tabcontent'), function(i,tab) {
					tab.style.display = "none";
				})

				$.each($('.tablinks'), function(i,tab) {
					tab.classList.remove('active');
				})
				$.each($('.delete-tablink'), function(i,tab) {
					tab.classList.remove('active');
					tab.hidden = true;
				})

				if (nonHiddenTabs.length > 0 && !!currentTab) {
					// открываем вкладку
					jQueryPage.show()

					// подсвечиваем активную вкладку и отображаем на ней кнопку удаления теста 
					jQueryTab[0].className += " active";
					jQueryTab.children('.delete-tablink')[0].className += " active";
					jQueryTab.children('.delete-tablink')[0].hidden = false;

					// задаём активный тест и фокусируемся на области expect
					jQueryActiveTest.val(testId);
					jQueryExpect[0].focus();
				}

				// После выполнения тестов у теста может поменяться id - id активного теста не будет соответствовать новому id теста
				// В этой ситуации по умолчанию открываем первую вкладку
				if (nonHiddenTabs.length > 0 && !currentTab) {
					openTest(1)
				}
			}
		
			function extractNumberFromString(stringId) {
				return Number(stringId.replace(/[^0-9]/g,"")) ?? null
			}

			function deleteTest(testId) {
				const currentId = `tab${testId}`
				const jQueryTab = $(`#${currentId}`)
				const jQueryTest = $("#" + testId)

				// получаем список всех нескрытых вкладок
				const nonHiddenTabs = $('.tablinks:visible').toArray()
				const currentTab = nonHiddenTabs.find((elem) => elem.id === currentId)

				// если вкладка одна, скрываем её, чтобы всегда оставался один тест для создания новых
				if (nonHiddenTabs.length === 1 && !!currentTab) {
					vscode.postMessage({
						command: 'lastTest'
					});
					return
				}

				if (nonHiddenTabs.length > 1 && !!currentTab) {
					// если вкладка в начале, переключаемся на вкладку справа (минимум 2 вкладки)
					if (!!nonHiddenTabs[0] && nonHiddenTabs[0].id === currentId && !!nonHiddenTabs[1]) {
						openTest(extractNumberFromString(nonHiddenTabs[1].id))
					}
					// иначе если вкладка в конце, переключаемся на вкладку слева (минимум 2 вкладки)
					else if (!!nonHiddenTabs[nonHiddenTabs.length - 1] && nonHiddenTabs[nonHiddenTabs.length - 1].id === currentId && !!nonHiddenTabs[nonHiddenTabs.length - 2]) {
						openTest(extractNumberFromString(nonHiddenTabs[nonHiddenTabs.length - 2].id))
					}
					// иначе если вкладка в середине, переключаемся на вкладку справа (минимум 3 вкладки)
					else if (nonHiddenTabs.length > 2 && !!nonHiddenTabs[nonHiddenTabs.indexOf(currentTab) + 1]) {
					 	openTest(extractNumberFromString(nonHiddenTabs[nonHiddenTabs.indexOf(currentTab) + 1].id))
					}
					
					// удаляем из dom вкладку и содержимое вкладки
					jQueryTab.remove()
					jQueryTest.remove();
					return
				}
			}

			// предотвращает ситуацию, когда при нажатии на иконку удаления активируется нажатие с переходом на вкладку
			function addEventListenerOnClickForStopPropaginationAndDeleteTest() {
				$.each($('.delete-tablink'), function(i) {
					const testNumber = extractNumberFromString($(this)[0].id)
					$(this)[0].addEventListener("click", (e) => {
						e.stopPropagation()
  						deleteTest(testNumber)
					})
				})
			}

			// word wrap/unwrap with button
			function wrap(check) {
				const textField = check.parentNode.parentNode.children[2].children[0];
				if (textField.wrap == "off") {
					check.checked = true;
					textField.wrap = "on";
					textField.style.whiteSpace = "pre-line";
				} else {
					check.checked = false;
					textField.wrap = "off";
					textField.style.whiteSpace = "pre";
				}
			}

			var vscode = acquireVsCodeApi();

			// Получение команд от расширения.
			window.addEventListener(
				'message', 
				(event) => {
					console.log('команда от расширения')
					const message = event.data; 
					switch (message.command) {
						case 'updateRawEvents': {
							const newRawEvents = message.rawEvents;
							if(!newRawEvents) {
								// TODO: вернуть ошибку через backend, такая не отработает.
								alert("Ошибка обновления сырых событий.");
								return;
							}

							// Получаем текущий тест.
							const activeTestNumber = $("#active_test_number").val();
							var baseTestElement = $("#" + activeTestNumber); 
							
							// Раскрашиваем новый код и обновляем его.
							const rawEventsElement = baseTestElement.find('[name="raw_events"]');
							const highlightNormEvent = hljs.highlight(newRawEvents, {language: 'json'}).value;
							rawEventsElement.html(highlightNormEvent);
							break;
						}
						case 'updateTestCode': {
							const newTestCode = message.newTestCode;
							if(!newTestCode) {
								alert("Ошибка обновления кода теста событий.");
								return;
							}

							let baseTestElement;
							const testNumberString = message.testNumber;
							if(!testNumberString) {
								// Получаем текущий тест.
								const activeTestNumber = $("#active_test_number").val();
								baseTestElement = $("#" + activeTestNumber); 
							} else {
								const testNumber = parseInt(testNumberString);
								baseTestElement = $("#" + activeTestNumber); 
							}

							// Задаем новое значение сырых событий.
							const rawEventsElement = baseTestElement.find('[name="expect"]');
							const highlightNormEvent = hljs.highlight(newTestCode, {language: 'xp-test-code'}).value;
							rawEventsElement.html(highlightNormEvent);
							break;
						}
					}
			});

			$('textarea').on('focusin', function() {
				$(this).height(this.scrollHeight);
			});

			function addEditorEvents() {
				// Добавляем автоподстветку для каждого из полей кода тестов.
				const xpTestElements = document.querySelectorAll(".xp-test_highlight");
				for(el of xpTestElements) {
					el.innerHTML = hljs.highlight(el.innerText ? el.innerText : '', {language: 'xp-test-code'}).value
					editor(el);
				}

				const jsonElements = document.querySelectorAll(".json_highlight");
				for(el of jsonElements) {
					el.innerHTML = hljs.highlight(el.innerText ? el.innerText : '', {language: 'json'}).value
					editor(el);
				}
			}

			$(document).ready(function() {

				addEventListenerOnClickForStopPropaginationAndDeleteTest()

				const activeTestNumber = $("#active_test_number").val();

				// Открытие теста по номеру.
			  	openTest(activeTestNumber);

				// Выводим восклицательный знак у неуспешно прошедших тестов
				$(".failure").each(function(index, elem) {
					const div = document.createElement("div");
					div.prepend("\u26A0")
					elem.prepend(div)
				})

				raws = $('[name=word-wrap]');
				for (i = 0; i < raws.length; i++) {
					wrap(raws[i]);
				}

				
				// Нормализация события
				$(document).on("click",'[name="normalize"]', function () {

					// Получаем текущий тест.
					const activeTestNumber = $("#active_test_number").val();
					const baseTestElement = $("#" + activeTestNumber);
					const test = baseTestElement.data("test");
					
					// Получаем актуальные сырые события.
					const rawEvents = baseTestElement.find('[name="raw_events"]').text();

					// Передает тест как параметр запроса.
					vscode.postMessage({
						command: 'NormalizeRawEventsCommand',
						test: test,
						rawEvents : rawEvents,
						isEnrichmentRequired: false
					});
				});

				// Нормализовать и обогатить.
				$(document).on("click",'[name="normalize_and_enrich"]', function () {

					// Получаем текущий тест.
					const activeTestNumber = $("#active_test_number").val();
					const baseTestElement = $("#" + activeTestNumber);
					const test = baseTestElement.data("test");
					
					// Получаем актуальные сырые события.
					const rawEvents = baseTestElement.find('[name="raw_events"]').text();

					// Передает тест как параметр запроса.
					vscode.postMessage({
						command: 'NormalizeRawEventsCommand',
						test: test,
						rawEvents : rawEvents,
						isEnrichmentRequired: true
					});
				});

				// Быстрый тест
				$(document).on("click",'[name="fast_test"]', function () {

					// Получаем текущий тест.
					const activeTestNumber = $("#active_test_number").val();
					var baseTestElement = $("#" + activeTestNumber); 

					// Передает тест как параметр запроса.
					const test = baseTestElement.data("test");
					vscode.postMessage({
						activeTestNumber : activeTestNumber,
						command: 'fastTest',
						test: test
					});
				});

				// Полный тест
				$(document).on("click",'[name="full_test"]', function () {

					// Находим все тесты.
					const tests = [];
					$(document).find("[name='test']").each(function () {
						// Получаем поля теста.
						const testObject = $(this).data("test");

						const id = $(this).attr('id');
						if(id == "0") {
							return;
						}

						const rawEvents = $(this).find('[name="raw_events"]').text();
						const testCode = $(this).find('[name="expect"]').text();
						const normEvents = $(this).find('[name="norm_event"]').text();

						tests.push({
							"number" : id,
							"rawEvents" : rawEvents,
							"testCode" : testCode,
							"normEvents" : normEvents
						});
					});

					// Передаем номер активного теста, чтобы после сохранения он таким и остался.
					const activeTestNumber = $("#active_test_number").val();

					vscode.postMessage({
						command: 'RunIntegrationTestsCommand',
						activeTestNumber : activeTestNumber,
						tests: tests
					});
				});

				// Добавить конверт
				$(document).on("click",'[name="add_envelope"]', function () {
					// Получаем текущий тест.
					const activeTestNumber = $("#active_test_number").val();
					var baseTestElement = $("#" + activeTestNumber); 
					
					// Получаем значения.
					const testObject = baseTestElement.data("test");
					const rawEvents = baseTestElement.find('[name="raw_events"]').text();

					// Передает тест как параметр запроса.
					const test = baseTestElement.data("test");
					vscode.postMessage({
						command: 'addEnvelope',
						test: test,
						rawEvents : rawEvents,
						mimeType : $(this).text(),
					});
				});

				// Сохраняем все тесты по нажатию кнопки.
				$(document).on("click",'#save_all_tests', function () {
					saveAllTests();
				});

				// Сохраняем все тесты по хот кею Ctrl+S
				$(document).on("keydown", e => {
					if (e.ctrlKey && e.code == 'KeyS') {
						console.log(e.keyCode);
						e.preventDefault();
						saveAllTests();
					}
				});

				// Очищаем код тестов он лишних полей.
				$(document).on("click",'#clean_test_button', function () {

					// Получаем текущий тест.
					const activeTestNumber = $("#active_test_number").val();
					var baseTestElement = $("#" + activeTestNumber);
					
					// Получаем значения.
					const testObject = baseTestElement.data("test");
					const testCode = baseTestElement.find('[name="expect"]').text();

					vscode.postMessage({
						command: 'cleanTestCode',

						test: testObject,
						activeTestNumber : activeTestNumber,

						testCode : testCode,
					});
				});

				$(document).on("click",'#open_result_diff', function () {
					const selectedTestNumber = $("#active_test_number").val();
					vscode.postMessage({
						command: 'ShowTestResultsDiffCommand',
						selectedTestNumber : selectedTestNumber
					});
				});


				// TODO: Перенести выше.
				// Добавляем наши ключевые слова в json.
				const xpTestCode = hljs.getLanguage('json');
				xpTestCode.keywords.literal.push('not', 'expect', 'table_list', 'default');
				xpTestCode.contains.push({begin:"#", end: "$", scope: "comment"});
				hljs.registerLanguage(
					'xp-test-code', 
					() => {return xpTestCode;}
				);

				// Добавляем автоподстветку для каждого из полей кода тестов.
				addEditorEvents();
			});

			function createTest() {	
				new_id = extractNumberFromString($('.tablinks').last()[0].id) + 1;

				// клонируем тест слева от нового (последний тест до создания нового теста)
				tab_contect = $("#" + (new_id - 1))
					.clone()
					.attr('id', new_id )
					.removeAttr('data-test')
					.appendTo('.tabs')

				// Очищаем нужные поля и добавляем подсветку.
				const rawEvent = $(`#${new_id} [name=raw_events]`);
				rawEvent.text('');

				const normEvent = $(`#${new_id} [name=norm_event]`);
				normEvent.text('');
				
				const expect = $(`#${new_id} [name=expect]`);
				expect.text("expect 1 {\"correlation_name\" : \"{{RuleName}}\"}");
				expect.attr('id', 'expect' + new_id)

				// Клонируем вкладку
				$('.tablinks').slice(0,1)
					.clone()
					.attr("onclick","openTest('" + new_id + "')")
					.attr("class", "tablinks")
					.attr('id', 'tab' + new_id )
					.appendTo('.tablinks-wrap')
					.children('.delete-tablink')
					.attr('id', 'test' + new_id )

				$('.tablinks').last().children('span').text("Тест №" + new_id)
				$('.tablinks-wrap').append($('#add-test')).scrollLeft(9999);

				// Добавляем обработчик для удаления вкладки и подсвечиваем содержимое 
				addEventListenerOnClickForStopPropaginationAndDeleteTest()
				addEditorEvents();

				// Переходим на созданную вкладку
				openTest(new_id);
			}
		</script>
	</body>
</html>