<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!--
		Use a content security policy to only allow loading images from https or from our extension directory,
		and only allow scripts that have a specific nonce.
	-->
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">
	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/localization.css">
	<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>
	
</head>
	<body>
		
		<div id="header" class="header__localization">
			{{#IsTestedLocalizationsRule}}
			<div id="navigation">
				<input id="build_loc"  class="run" type="button" value="&#9654;   {{Locale.CheckLocalizations}}  ">
			</div>
			{{/IsTestedLocalizationsRule}}
			<input id="save_loc" class="save" type="button" value="{{Locale.Save}}">
		</div>

		<div id="main-body">
			{{#LocalizationExamples.0}}
			<h2>{{Locale.LocalizationExamples}}:</h2>
			<hr />
			<div id="loc-results" class="loc-example">
				<div class="loc-example__row">
					<h3 class="loc-example__row__h3">RU:</h3>
					<h3 class="loc-example__row__h3">EN:</h3>
				</div>
				{{#LocalizationExamples}}
				<div class="loc-example__row">
					<p class="loc-example__row__p">
						{{ruText}}
					</p>
					<p class="loc-example__row__p">
						{{enText}}
					</p>
				</div>
				{{/LocalizationExamples}}
			
			</div>
			{{/LocalizationExamples.0}}

			<h2>{{Locale.Description}}:</h2>
			<hr />
	
			<div class="language">
				<h3>RU: </h3>
				<textarea id="ruDescription" rows="3">{{RuDescription}}</textarea>
			</div>
			<div class="language">
				<h3>EN: </h3>
				<textarea id="enDescription" rows="3">{{EnDescription}}</textarea>
			</div>

			{{#IsLocalizableRule}}
				<h2>{{Locale.LocalizationСriteria}}:</h2>
				<hr />
				<div id="localizations">
				
				{{#Localizations}}
				<div class="common">	
					<div class="common">
						<input class="delete_value" type="button" value="-" onclick="deleteLoc(this)">
						<label for="criteria">{{Locale.Сriteria}}:</label>
						<textarea rows="1" name="criteria" class="criteria">{{Criteria}}</textarea>
						<input type="hidden" name="localizationId" value="{{LocalizationId}}">
					</div>	
		
					<div class="language">
						<label for="ruLocalization">Шаблон:</label>
						<br />
						<textarea rows="5" name="ruLocalization">{{RuLocalization}}</textarea>
					</div>
		
					<div class="language">
						<label for="enLocalization">Template:</label>
						<br />
						<textarea rows="5" name="enLocalization">{{EnLocalization}}</textarea>
					</div>
				</div>
				{{/Localizations}}
				</div>

				<div class="common">
					<input id="add" class="add_value" type="button" value="+" onclick="addLoc(this)">
				</div>	

				<div id="loc-template" hidden>
					<div class="common">	
						<div class="common">
							<input class="delete_value" type="button" value="-" onclick="deleteLoc(this)">
							<label for="criteria">{{Locale.Сriteria}}:</label>
							<textarea rows="1" class="criteria">{{DefaultLocalizationCriteria}}</textarea>
							<input type="hidden" value="{{LocalizationId}}">
						</div>	
			
						<div class="language">
							<label for="ruLocalization">Шаблон локализации:</label>
							<br />
							<textarea rows="5"></textarea>
						</div>
			
						<div class="language">
							<label for="enLocalization">Localization template:</label>
							<br />
							<textarea rows="5"></textarea>
						</div>
					</div>
				</div>
			{{/IsLocalizableRule}}
		</div>	

		<script>
			const vscode = acquireVsCodeApi();


			function getCurrentLocalizationsData() {
				
				const ruDescription = document.getElementById("ruDescription").value;
				const enDescription = document.getElementById("enDescription").value;

				const criteria = nameToValuesArray("criteria");
				const rulocalizations = nameToValuesArray("ruLocalization");
				const enlocalizations = nameToValuesArray("enLocalization");
				const localizationIds = nameToValuesArray("localizationId");

				return {
					'RuDescription' : ruDescription,
					'EnDescription' : enDescription,

					'Criteria' : criteria,
					'RuLocalizations' : rulocalizations,
					'EnLocalizations' : enlocalizations,
					'LocalizationIds' : localizationIds
				}
			}

			// Нажатие на кнопку проверки локализаций.
			const buildLocalizationsButton = document.getElementById("build_loc");
			if(buildLocalizationsButton) {
					buildLocalizationsButton.addEventListener("click", function () {

					const localizationsData = getCurrentLocalizationsData()

					vscode.postMessage({
						command: 'buildLocalizations',
						localizations : localizationsData
					});
				});
			}

			// Нажатие на кнопку сохранить.
			const saveLocalizationsButton = document.getElementById("save_loc");
			saveLocalizationsButton.addEventListener("click", saveLocalizations);

			function saveLocalizations() {
				
				const ruDescription = document.getElementById("ruDescription").value;
				const enDescription = document.getElementById("enDescription").value;

				const criteria = nameToValuesArray("criteria");
				const rulocalizations = nameToValuesArray("ruLocalization");
				const enlocalizations = nameToValuesArray("enLocalization");
				const localizationIds = nameToValuesArray("localizationId");

				const localizationsData = getCurrentLocalizationsData()
				vscode.postMessage({
					command: 'saveLocalizations',
					localizations : localizationsData
				});
			}


			// Сохраняем все тесты по хот кею Ctrl+S
			$(document).on("keydown", e => {
				if (e.ctrlKey && e.code == 'KeyS') {
					console.log(e.keyCode);
					e.preventDefault();
					saveLocalizations();
				}
			});

			function nameToValuesArray(name) {
				const elements = [...document.getElementsByName(name)];
				return elements.map(u => u.value);
			}
			
			function addLoc(button) {
				// Копируем элемент
				toCopy = document.getElementById('loc-template');
				coppied = toCopy.cloneNode(true);
				coppied.removeAttribute('id');
				
				// Задаем имена для TextArea
				coppied.children[0].children[0].children[3].name = "localizationId";
				coppied.children[0].children[0].children[2].name = "criteria";
				coppied.children[0].children[1].children[2].name = "ruLocalization";
				coppied.children[0].children[2].children[2].name = "enLocalization";

				// Показываем элемент
				coppied.hidden = false;
				
				// Вставляем и переводим фокус на критерий
				button.parentElement.parentElement.insertBefore(coppied,button.parentElement);
				coppied.children[0].children[1].focus();
			}


			function deleteLoc(button) {
				var index = Array.from(button.parentElement.parentElement.parentElement.children).indexOf(button.parentElement.parentElement);
				button.parentElement.parentElement.remove();			
			}
		</script>
	</body>
</html>