<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<!--
		Use a content security policy to only allow loading images from https or from our extension directory,
		and only allow scripts that have a specific nonce.
	-->

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/meta.css">
	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">


	<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>

	<title>Метаданные</title>

</head>

<body>
	<div id="header" class="header__meta">
		<div id="navigation">
			<input id="name" type="text" value="{{Name}}" title="{{Name}}" pattern="[A-Z][a-zA-Z0-9_]+">
			<p>{{Localization.Created}}: {{FormattedCreated}}</p>
			<p>{{Localization.Updated}}: {{FormattedUpdated}}</p>
			<p>{{Localization.Id}}: {{ObjectId}}</p>
		</div>

		<input class="save" name="saveMetainfo" onclick="saveMetaInfo()" type="button" value="{{Localization.Save}}">
	</div>

	<div id="main-body">
		<table id="Metadata">
			<!-- <tr>
					<td class="labels">Название</td>
					<td>
						<input id="Name" type="text" value="{{Name}}" title="{{Name}}" pattern="[A-Z][a-zA-Z0-9_]+">
					</td>
				</tr>
	
				<tr>
					<td class="labels"> Идентификатор</td>
					<td>
						<input id="ObjectId" type="text" value="{{ObjectId}}" title="{{ObjectId}}">
					</td>
				</tr> -->

			<tr>
				<td class="labels">{{Localization.KnowledgeHolders}}</td>
				<td>
					{{#KnowledgeHolders}}
					<div>
						<input name="knowledgeHolder" type="text" value="{{.}}" title="{{.}}" required>
						<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
					</div>
					{{/KnowledgeHolders}}
					<input class="add_value" type="button" value="+" onclick="addValue(this, 'knowledgeHolder')">
				</td>
			</tr>

			<tr class="service">
				<td class="labels">{{Localization.Created}}</td>
				<td>
					<input id="Created" readonly type="text" value="{{Created}}" title="{{Created}}">
				</td>
			</tr>

			<tr class="service">
				<td class="labels">{{Localization.Updated}}</td>
				<td>
					<input id="Updated" readonly type="text" value="{{Updated}}" title="{{Updated}}">
				</td>
			</tr>
			<tr>
				<td class="labels">{{Localization.Usecases}}</td>
				<td>
					{{#Usecases}}
					<div>
						<div class="multiline-input" name="usecase" type="text" data-value="{{.}}" contenteditable="plaintext-only"></div>
						<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
					</div>
					{{/Usecases}}
					<input class="add_value" type="button" value="+" onclick="addMultilineValue(this, 'usecase')">
				</td>
			</tr>

			<tr>
				<td class="labels">{{Localization.Falsepositives}}</td>
				<td>
					{{#Falsepositives}}
					<div>
						<input name="falsepositive" type="text" value="{{.}}" title="{{.}}" required>
						<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
					</div>
					{{/Falsepositives}}
					<input class="add_value" type="button" value="+" onclick="addValue(this, 'falsepositive')">
				</td>
			</tr>

			<tr>
				<td class="labels">{{Localization.Improvements}}</td>
				<td>
					{{#Improvements}}
					<div>
						<input name="improvement" type="text" value="{{.}}" title="{{.}}" required>
						<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
					</div>
					{{/Improvements}}
					<input class="add_value" type="button" value="+" onclick="addValue(this, 'improvement')">
				</td>
			</tr>

			<tr>
				<td class="labels">{{Localization.References}}</td>
				<td>
					{{#References}}
					<div>
						<input name="reference" type="url" value="{{.}}" title="{{.}}" required>
						<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
					</div>
					{{/References}}
					<input class="add_value" type="button" value="+" onclick="addValue(this, 'reference')">
				</td>
			</tr>

			<tr>
				<div style="display: none;">
					<vscode-dropdown name="provider" aria-required="true" class="vscode-dropdown">
						<vscode-option>Microsoft-Windows-Security-Auditing</vscode-option>
						<vscode-option>Microsoft-Windows-System</vscode-option>
						<vscode-option>Microsoft-Windows-Application</vscode-option>
						<vscode-option>Microsoft-Windows-Sysmon</vscode-option>
						<vscode-option>Microsoft-Windows-PowerShell</vscode-option>
						<vscode-option>Microsoft-Windows-IIS</vscode-option>
						<vscode-option>Microsoft-Windows-Bits-Client</vscode-option>
						<vscode-option>Microsoft-Windows-ActiveDirectory_DomainService</vscode-option>
						<vscode-option>Microsoft-Windows-Directory-Services-SAM</vscode-option>
						<vscode-option>Microsoft-Windows-TerminalServices-RemoteConnectionManager</vscode-option>
						<vscode-option>Microsoft-Windows-DNS-Server-Service</vscode-option>
						<vscode-option>Microsoft-Windows-CAPI2</vscode-option>
						<vscode-option>Microsoft-Windows-TaskScheduler</vscode-option>
						<vscode-option>MSExchange CmdletLogs</vscode-option>
						<vscode-option>NETLOGON</vscode-option>
						<vscode-option>User32</vscode-option>
						<vscode-option>PostgreSQL</vscode-option>
						<vscode-option>MySQL</vscode-option>
						<vscode-option>Oracle</vscode-option>
						<vscode-option>MSSQL</vscode-option>
						<vscode-option>Unix</vscode-option>
						<vscode-option>auditd</vscode-option>
						<vscode-option>syslog</vscode-option>
						<vscode-option>MacOS</vscode-option>
					</vscode-dropdown>
				</div>
				<td class="labels">{{Localization.DataSources}}</td>
				<td>
					{{#DataSources}}
					<div>
						{{#EventID}}
						<div name='dataSource' class="complex">
							<!-- <input name="provider" type="text" value="{{Provider}}" list="providers" required /> -->
							<div class="dropdown-group">
							<vscode-dropdown name="provider" value="{{Provider}}" aria-required="true" class="vscode-dropdown">
								<vscode-option>Microsoft-Windows-Security-Auditing</vscode-option>
								<vscode-option>Microsoft-Windows-System</vscode-option>
								<vscode-option>Microsoft-Windows-Application</vscode-option>
								<vscode-option>Microsoft-Windows-Sysmon</vscode-option>
								<vscode-option>Microsoft-Windows-PowerShell</vscode-option>
								<vscode-option>Microsoft-Windows-IIS</vscode-option>
								<vscode-option>Microsoft-Windows-Bits-Client</vscode-option>
								<vscode-option>Microsoft-Windows-ActiveDirectory_DomainService</vscode-option>
								<vscode-option>Microsoft-Windows-Directory-Services-SAM</vscode-option>
								<vscode-option>Microsoft-Windows-TerminalServices-RemoteConnectionManager</vscode-option>
								<vscode-option>Microsoft-Windows-DNS-Server-Service</vscode-option>
								<vscode-option>Microsoft-Windows-CAPI2</vscode-option>
								<vscode-option>Microsoft-Windows-TaskScheduler</vscode-option>
								<vscode-option>MSExchange CmdletLogs</vscode-option>
								<vscode-option>NETLOGON</vscode-option>
								<vscode-option>User32</vscode-option>
								<vscode-option>PostgreSQL</vscode-option>
								<vscode-option>MySQL</vscode-option>
								<vscode-option>Oracle</vscode-option>
								<vscode-option>MSSQL</vscode-option>
								<vscode-option>Unix</vscode-option>
								<vscode-option>auditd</vscode-option>
								<vscode-option>syslog</vscode-option>
								<vscode-option>MacOS</vscode-option>
							</vscode-dropdown>
							<input name="eventID" type="text" value="{{.}}" title="{{.}}" required>
							</div>
							<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
						</div>
						{{/EventID}}
					</div>
					{{/DataSources}}
					<input class="add_value" type="button" value="+" onclick="addDataSourceComplexValue(this)">
				</td>
			</tr>

			<tr>
				<div style="display: none;">
					<vscode-dropdown name="tactic" aria-required="true" class="vscode-dropdown">
						<!-- Enterprise MITRE -->
						<vscode-option>reconnaissance</vscode-option>
						<vscode-option>resource-development</vscode-option>
						<vscode-option>initial-access</vscode-option>
						<vscode-option>execution</vscode-option>
						<vscode-option>persistence</vscode-option>
						<vscode-option>privilege-escalation</vscode-option>
						<vscode-option>defense-evasion</vscode-option>
						<vscode-option>credential-access</vscode-option>
						<vscode-option>discovery</vscode-option>
						<vscode-option>lateral-movement</vscode-option>
						<vscode-option>collection</vscode-option>
						<vscode-option>command-and-control</vscode-option>
						<vscode-option>exfiltration</vscode-option>
						<vscode-option>impact</vscode-option>

						<!-- ICS MITRE -->
						<vscode-option>evasion</vscode-option>
						<vscode-option>inhibit-response-function</vscode-option>
						<vscode-option>impair-process-control</vscode-option>
					</vscode-dropdown>
				</div>
				<td class="labels">{{Localization.MITRE}}</td>
				<td>
					{{#ATTACK}}
					<div>
						{{#Techniques}}
						<div name='attack' class="complex">
							<!-- <input name="tactic" type="text" value="{{Tactic}}" list="tactics" required />
							<input name="techniques" type="text" value="{{.}}" title="{{.}}" required> -->
						<div class="dropdown-group">
							<vscode-dropdown name="tactic" value="{{Tactic}}" aria-required="true" class="vscode-dropdown">
								<!-- Enterprise MITRE -->
								<vscode-option>reconnaissance</vscode-option>
								<vscode-option>resource-development</vscode-option>
								<vscode-option>initial-access</vscode-option>
								<vscode-option>execution</vscode-option>
								<vscode-option>persistence</vscode-option>
								<vscode-option>privilege-escalation</vscode-option>
								<vscode-option>defense-evasion</vscode-option>
								<vscode-option>credential-access</vscode-option>
								<vscode-option>discovery</vscode-option>
								<vscode-option>lateral-movement</vscode-option>
								<vscode-option>collection</vscode-option>
								<vscode-option>command-and-control</vscode-option>
								<vscode-option>exfiltration</vscode-option>
								<vscode-option>impact</vscode-option>

								<!-- ICS MITRE -->
								<vscode-option>evasion</vscode-option>
								<vscode-option>inhibit-response-function</vscode-option>
								<vscode-option>impair-process-control</vscode-option>
							</vscode-dropdown>
							<input name="techniques" type="text" value="{{.}}" title="{{.}}" required>
						</div>
						<input class="delete" type="button" value="-" title="-" onclick="deleteValue(this)">
						</div>
						{{/Techniques}}
					</div>
					{{/ATTACK}}
					<input class="add_value" type="button" value="+" onclick="addAttackComplexValue(this)">
				</td>
			</tr>
		</table>
	</div>

	<script type="module" src="{{WebviewUri}}"></script>
	
	<script src="{{{ExtensionBaseUri}}}/client/templates/js/meta.js"></script>
</body>

</html>