<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!--
		Use a content security policy to only allow loading images from https or from our extension directory,
		and only allow scripts that have a specific nonce.
	-->
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тесты</title>

	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/main.css">
	<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/styles/meta.css">

	<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
	<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>

</head>

<style>
	
	.columns {
		border-right: 1px solid  var(--white);
	}

	th {
		border-bottom: 1px solid  var(--white);
	}

	.column-name {
		font-weight: 600;
		padding: 3px;
		width: calc(100% - 50px);
	}

	td input {
		border:none;
		margin: 2px 10px;
	}

	td input:focus {
		border:none;
	}

	label {
		color: var(--white);
	}
</style>

<body>
	<!-- Common Panel -->
	<div id="header">
		<div id="navigation">
			<input id="name" type="text" value="{{Name}}" title="{{Name}}" pattern="[A-Z][a-zA-Z0-9_]+">
			<input id="save_test" class="save" type="button" value="Сохранить">
		</div>
	</div>

	<div id="main-body">
		<div id="common-info">
			<table>
				<!-- <tr>
					<td class="labels">Название</td>
					<td>
						<input id="name" type="text" value="{{Name}}" title="{{Name}}" pattern="[A-Z][a-zA-Z0-9_]+">
					</td>
				</tr> -->

				<tr>
					<td class="labels">Описание</td>
					<td>
						<input id="description" type="text" value="{{Description}}" title="Description">
					</td>
				</tr>
	
				<tr>
					<td class="labels">Идентификатор</td>
					<td>
						<input id="object-id" type="text" value="{{ObjectId}}" title="ObjectId">
					</td>
				</tr>

				<tr>
					<datalist id="fill-types">
						<option>Registry</option>
						<option>CorrelationRule</option>
						<option>EnrichmentRule</option>
						<option>AssetGrid</option>
					</datalist>
					
					<td class="labels">Тип заполнения</td>
					<td>
						<input id="fill-type" name="fill-type" type="text" value="{{FillType}}" list="fill-types" />
					</td>	
				</tr>				
			</table>	
		</div>

		<br />

		<div id="type-scepific-info">
			<table>
				<!-- CorrelationRule and EnrichmentRule FillType fields -->
				<tr>
					<td class="labels">Время жизни записи</td>
					<td>
						<input id="ttl" class="table-property" type="text" value="{{TTL}}" title="ttl" pattern="\d+">
					</td>
				</tr>
				<tr>
					<td class="labels">Максимальный размер</td>
					<td>
						<input id="max-size" class="table-property" type="text" value="{{maxSize}}" title="maxSize" pattern="\d+">
					</td>
				</tr>
				<tr>
					<td class="labels">Стандартный размер</td>
					<td>
						<input id="typical-size" class="table-property" type="text" value="{{typicalSize}}" title="typicalSize" pattern="\d+">
					</td>
				</tr>

				<!-- Registry FillType fields -->
				<tr>
					<td class="labels">Редактирование пользоваетлями</td>
					<td>
						<select id="user-edit" class="table-property" title="userCanEditContent">
							<option value="true">Да</option>
							<option value="false">Нет</option>
						</select>
					</td>
				</tr>

				<!-- AssetGrid FillType fields -->
				<tr>
					<td class="labels">PDQL</td>
					<td>
						<input id="pdql" class="table-property" type="text" value="{{pdql}}" title="pdql">
					</td>
				</tr>

				<!-- <tr>
					<td class="labels">Тип</td>
					<td>
						<input id="type" type="text" value="{{type}}" title="{{type}}" pattern="\d+">
					</td>
				</tr> -->
			</table>
		</div>

		<div id="table">
			<table>
				<!-- {{#Columns}}
				{{/Columns}} -->
				<tr>
					<td>
						<table class="columns">
							<th>
								<input class="delete" type="button" value="-" title="-" onclick="deleteColumn(this)">
								<input class="column-name" type="text" value="{{column1.value}}">
							</th>
							<tr>
								<td class="field-property">
									<input type="checkbox" name="index" checked>
									<label for="index">индексируемое</label>
								</td>
							</tr>
							<tr>
								<td class="field-property">
									<input type="checkbox" name="nullable" checked>
									<label for="nullable">может быть пустым</label>
								</td>
							</tr>
							<tr>
								<td class="field-property">
									<input type="checkbox" name="key" checked>
									<label for="key">ключевое</label>
								</td>
							</tr>
							<tr>
								<td class="field-property">
									<input type="checkbox" name="unique" checked>
									<label for="unique">уникальное</label>
								</td>
							</tr>
							<tr>
								<td class="field-property">
									<select id="field-type" name="field-type">
										<option value="String">Строка</option>
										<option value="Number">Число</option>
										<option value="DataTime">Дата и Время</option>
										<option value="DataTime">Регулярное выражение</option>
									</select>
								</td>
							</tr>
							<!-- <tr>
								<td>Тут какое-то значение</td>
							</tr> -->
						</table>
					</td>
					<td>
						<input class="add_value" type="button" value="+" onclick="addColumn(this)">
					</td>
				</tr>
			</table>
		</div>
	</div>

	<script>
		$(document).ready(function() {
			// Грязный хак, позволяющий убрать ошибку двойного копирование по сочетаниям Ctrl+C и Ctrl+V.
			var ctrlDown = false,
			ctrlKey = 17,
			cmdKey = 91,
			vKey = 86,
			cKey = 67;

			$(document).keydown(function(e) {
				if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = true;
			}).keyup(function(e) {
				if (e.keyCode == ctrlKey || e.keyCode == cmdKey) ctrlDown = false;
			});

			// Document Ctrl + C/V 
			$(document).keydown(function(e) {
				if (ctrlDown && (e.keyCode == vKey)) {
					e.preventDefault();
				}
			});
		});

		function deleteColumn(button) {
			button.parentNode.parentNode.parentNode.parentNode.parentNode.remove();
		}

		function addColumn(button) {
			const NewTD = document.createElement('td');

			// Формируем колонку
			const NewTable = document.createElement('table');
			NewTable.classList.add('columns');
			NewTD.appendChild(NewTable);

			// Название колонки и кнопка удаления
			const tableHeading = document.createElement('th');
			const tableName = document.createElement('input');
			tableName.classList.add('column-name');
			// Кнопка удаления
			const deleteButton = document.createElement('input');
			deleteButton.type = 'button';
			deleteButton.value = '-';
			deleteButton.classList.add("delete");
			deleteButton.onclick = function() {
				deleteButton.parentNode.parentNode.parentNode.remove();
			}
			tableHeading.appendChild(deleteButton)
			tableHeading.appendChild(tableName)
			
			NewTable.appendChild(tableHeading);
			
			// Свойста колонок
			$.each(['индексируемое', 'может быть пустым', 'ключевое', 'уникальное'], function( index, value ) {
				const columpProperty = document.createElement('tr');
				const columpPropertyData = document.createElement('td');
				columpPropertyData.classList.add('field-property');
				columpProperty.appendChild(columpPropertyData);

				const checkbox = document.createElement('input');
				checkbox.type = 'checkbox';
				const label = document.createElement('label');
				label.name = 'index';
				label.innerText = value;
				columpPropertyData.appendChild(checkbox);
				columpPropertyData.appendChild(label);
			
				NewTable.appendChild(columpProperty);
			});

			const columpProperty = document.createElement('tr');
			const columpPropertyData = document.createElement('td');
			columpPropertyData.classList.add('field-property');
			
			const select = document.createElement('select');
			option1 = document.createElement("option");
			option1.text = 'Строка';
			option2 = document.createElement("option");
			option2.text = 'Число';
			option3 = document.createElement("option");
			option3.text = 'Дата и Время';
			option4 = document.createElement("option");
			option4.text = 'Регулярное выражение';

			select.add(option1);
			select.add(option2);
			select.add(option3);
			select.add(option4);

			columpPropertyData.appendChild(select);
			columpProperty.appendChild(columpPropertyData);
			NewTable.appendChild(columpProperty);
			
			button.parentNode.before(NewTD)
		}

		$(document).on("change",'#fill-type', function () {
			typeSet = $(this).val();
			$('.table-property').each(function() {
				$(this).val("")
				$(this).parent().parent().hide();
				$(this).prop('required',false);
			});

			if (typeSet == "CorrelationRule" || typeSet == "EnrichmentRule") {
				$('#ttl').parent().parent().show();
				$('#ttl').prop('required',true);

				$('#max-size').parent().parent().show();
				$('#max-size').prop('required',true);

				$('#typical-size').parent().parent().show();
				$('#typical-size').prop('required',true);

			} else if (typeSet == "Registry") {

				$('#user-edit').parent().parent().show();
				$('#user-edit').prop('required',true);

			} else if (typeSet == "AssetGrid") {

				$('#pdql').parent().parent().show();
				$('#pdql').prop('required',true);

			}
		});

	</script>
</body>
</html>