:root {
	--background: #212529;
	--main-theme: #bdbdbd;
	--white: #bdbdbd;
	--gray: #787878; 
	--red: #c94c4c;
	--blue: #034f84;
}

.header__localization {
	display: flex;
	flex-direction: row !important;
	justify-content: space-between;
	height: fit-content;
}

hr {
	width: 99%;
	background-color: var(--gray);
	opacity: 50%;
	height: 1px;
	border: none;
	margin: 0;
}

.language {
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

.common {
	float: left;
	width: 100%;
	margin-top: 6px;
	display: block;
}

.loc-example {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.loc-example__row {
	width: 100%;
	display: flex;
}

.loc-example__row__p {
	width: 50%;
	word-break: break-all;
	border-left: 1px solid var(--gray);
	padding: 0 10px;
}

.loc-example__row__h3 {
	width: 50%;
	margin-bottom: 0 !important;
}

label {
	color: var(--gray);
}

.criteria {
	border-left: none;
	font-weight: bold;
}

textarea {
	width: calc(100% - 30px);
	margin: 10px 0;
	background-color: transparent;
	color: var(--white);
	border: none;
	border-left: 1px solid var(--gray);
	padding: 6px 10px;
	font-family: sans-serif;
}

.add_value {
	width: 20px;
	height: 20px;
	margin: 2px 2px;
	padding: 3px;
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	border: none;
}

.delete_value {
	width: 20px;
	height: 20px;
	margin: 2px 2px;
	padding: 3px;
	background-color: var(--red);
	color: var(--white);
	border: none;
}