:root {
	--background: #212529;
	--white: #CCBCBC;
	--gray: #787878; 
	--red: #DA3E52;
	--blue: #034f84;
	--green: #06BA63;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	padding: 10px;
	color: var(--vscode-editor-foreground);
}

/* ------ NAVIGATION ------ */
#header {
	width: 100%;
	padding: 16px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	background: var(--vscode-editorGroupHeader-tabsBackground);
	gap: 8px;
}

#header input {
	box-shadow: none;
}

.save[type=button]{
	width: 15%;
	min-width: 100px;
	height: 27px;
	float: right;
	background-color: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	border: none;
	cursor: pointer;
}
.save:hover {
	background-color: var(--vscode-button-hoverBackground);
}

.run {
	float: left;
	background-color: var(--vscode-button-secondaryBackground);
	color: var(--vscode-button-secondaryForeground);
	min-width: 100px;
	height: 27px;
	border: none;
	cursor: pointer;
}
.run:hover {
	background-color: var(--vscode-button-secondaryHoverBackground);
}



/* ------ COMMON ELEMENTS ------ */
#main-body {
	display: block;
	width: 100%;
}

p {
	margin: 0;
}