:root {
	--background: #212529;
	--main-theme: #bdbdbd;
	--white: #bdbdbd;
	--gray: #787878;
	--red: #c94c4c;
	--blue: #034f84;
}

body {
	padding: 10px;
	color: var(--white);
}

#header {
	display: flex !important;
	flex-direction: row !important;
	justify-content: space-between;
	height: fit-content;
	align-items: center;
}

#name {
	border: none;
	padding: 6px 10px;
	margin: 0 10px;
	box-sizing: border-box;
	background-color: transparent;
	color: var(--white);
	width: 100%;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 10px;
	margin-bottom: 5px;
}

p {
	color: var(--gray);
	margin: 0;
	margin-left: 10px;
	font-size: 0.8em;
}

#name:invalid {
	color: var(--red);
	outline: none;
}

table {
	width: 100%;
	padding: 3px;
}

.service {
	display: none;
}

td {
	padding-left: 4px;
	width: 100%;
}

.labels {
	text-align: right;
	width: 100px;
	vertical-align: top;
	padding-top: 8px;
	font-size: 0.9em;
	margin-right: 100px;
}

.userinput {
	width: 100% - 100px;
}

div {
	width: calc(100% - 30px);
}

div input[type="text"],
div input[type="url"],
.multiline-input {
	width: calc(100% - 50px);
}

input[type="button"] {
	cursor: pointer;
}

.multiline-input {
	font-family: sans-serif;
	word-break: break-word;
}


input,
select,
.multiline-input {
	border: none;
	padding: 6px 10px;
	margin: 4px 0;
	box-sizing: border-box;
	float: left;
	background-color: transparent;
	color: var(--white);
	box-shadow: 0 1px var(--white);
}

input:focus,
select:focus,
.multiline-input:focus {
	box-shadow: 0 3px var(--white);
	outline: none;
}

input:invalid,
.multiline-input.multiline-input_invalid {
	box-shadow: 0 3px var(--red);
	outline: none;
}

.add_value,
.delete {
	float: left;
	width: 20px;
	min-width: 20px;
	height: 20px;
	min-height: 20px;
	margin: 2px 2px;
	padding: 3px;
	box-sizing: border-box;
	background-color: var(--white);
	border: none;
	box-shadow: none;
}

.add_value {
	background-color: var(--blue);
}

.delete {
	background-color: var(--red);
	color: var(--background)
}

.complex {
	min-width: 100%;
	display: flex;
	gap: 4px;
}

.dropdown-group {
	width: 100%;
	display: grid;
	/* grid-auto-columns: max-content; */
	gap: 4px;
	grid-template-columns: 50% 50%;
}

.complex input[type=text] {
	/* 2 divs with left and right margin -> 4 margins of 2px */
	/* width: calc((100% - 50px - 2*4px) / 2); */
	width: 100%;
}
