body {
	min-width: 460px;
	min-height: calc(100% - 20px);
	line-height: normal;
	word-break: keep-all;
	padding: 20px;
	/* font-size: var(--vscode-font-size); */

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

vscode-text-field {
	width: 100%;
}

vscode-text-area {
	width: 100%;
}

vscode-dropdown {
	width: 100%;
}

vscode-data-grid-row {
	border: 1px solid var(--vscode-quickInput-background);
}

vscode-data-grid-cell {
	display: flex;
	align-items: center;
}

/* убираем неподходящее для проекта поведение подсветки ячеек vscode-data-grid-cell */
vscode-data-grid-cell:focus,
vscode-data-grid-cell:active,
vscode-data-grid-cell:focus-within {
	background-color: transparent;
	outline: none;
	/* должно быть именно так, без этого при взаимодействии скачет размер внутренних элементов */
	border: solid calc(var(--border-width) * 1px) transparent;
}


.tle {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: column;

	gap: 10px;
}

.tle__row {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.tle__row > label {
	display: block;
	color: var(--vscode-foreground);
	cursor: pointer;
	font-size: var(--vscode-font-size);
	line-height: normal;
	margin-bottom: 2px;
}

.tle__row__input__helper {
	color: var(--vscode-input-placeholderForeground);
}

.tle__row__table__cell-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.tle__buttons {
	width: 100%;
	padding-top: 20px;
}

.span_input-required {
	color: var(--vscode-editorError-foreground);
}

.row_insert-highlight {
	height: 42px; 
	background-color: var(--vscode-button-background);
}

.draggable-row {
	height: 42px;
}

.move-row-button {
	cursor: grab;
}

.jqInput_invalid::part(root) {
  border: 1px solid var(--vscode-inputValidation-errorBorder);
}



/* Тултипы и прочее поведение jquery ui*/

  .ui-tooltip, .arrow:after {
    background: var(--vscode-inputValidation-errorBorder);
  }
  .ui-tooltip {
	max-width: 70%;
    padding: 10px 20px;
	color: white;
	/* костыль, без которого тултип плохо обрабатывает коллизии и прыгает по экрану*/
	position: absolute;
  }

  .ui-helper-hidden-accessible {
    display: none;
}