<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Редактор табличного списка</title>

		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/TableListEditor/css/table-list-editor.css">
    </head>
    <body>
		<form class="tle">
			<div class="tle__row">
				<vscode-text-field type="text" required pattern="[A-Z][a-zA-Z0-9_]+">
					Название
					<span class="span_input-required">*</span>
				</vscode-text-field>
				<span class="tle__row__input__helper">Должно начинаться с латинской буквы, может содержать латинские буквы, цифры и символ подчеркивания</span>
			</div>
			<div class="tle__row">
				<vscode-text-area resize="vertical">Описание (русский)</vscode-text-area>
			</div>
			<div class="tle__row">
				<vscode-text-area resize="vertical" type="text">Описание (английский)</vscode-text-area>
			</div>
			<div class="tle__row">
				<label for="type-dropdown">
					Назначение
					<span class="span_input-required">*</span>
				</label>
				<vscode-dropdown id="type-dropdown">
  					<vscode-option>Справочник</vscode-option>
  					<vscode-option>Заполняется правилами корреляции</vscode-option>
  					<vscode-option>Заполняется правилами обогащения</vscode-option>
					<vscode-option>Репутационный список</vscode-option>
				</vscode-dropdown>
			</div>
			<div class="tle__row">
				<label>Колонки</label>
				<!-- Поменял верстку у колонки vscode-data-grid? Скопируй её в константу ../js/store/htmlStore.js/tableColumn -->
				<vscode-data-grid grid-template-columns="40px minmax(120px,1fr) minmax(120px,1fr) minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr) 40px" aria-label="Колонки">
					<vscode-data-grid-row row-type="header">
						<vscode-data-grid-cell cell-type="columnheader" grid-column="1"></vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="2">
							Название 
							<span class="span_input-required">*</span>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="3">
							Тип данных
							<span class="span_input-required">*</span>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="4">Ключевое поле 🔑</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="5">Индексируемое</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="6">Может содержать null</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="7"></vscode-data-grid-cell>
					</vscode-data-grid-row>
					<vscode-data-grid-row draggable="true" class="draggable-row">
    					<vscode-data-grid-cell grid-column="1" draggable="true" class="tle__row__table__cell-icon move-row-button">:::</vscode-data-grid-cell>
    					<vscode-data-grid-cell grid-column="2">
							<vscode-text-field type="text"></vscode-text-field>
						</vscode-data-grid-cell>
    					<vscode-data-grid-cell grid-column="3">
							<vscode-dropdown>
  					            <vscode-option value="String">Строка</vscode-option>
                      			<vscode-option value="Number">Число</vscode-option>
                      			<vscode-option value="DataTime">Дата и Время</vscode-option>
                      			<vscode-option value="DataTime">Регулярное выражение</vscode-option>
							</vscode-dropdown>
						</vscode-data-grid-cell>
    					<vscode-data-grid-cell grid-column="4">
							<vscode-checkbox></vscode-checkbox>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell grid-column="5">
							<vscode-checkbox></vscode-checkbox>
						</vscode-data-grid-cell>
    					<vscode-data-grid-cell grid-column="6">
							<vscode-checkbox></vscode-checkbox>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell grid-column="7" class="tle__row__table__cell-icon remove-row-button">🗑️</vscode-data-grid-cell>
					</vscode-data-grid-row>
					
				</vscode-data-grid>
			</div>
		</form>
		<footer>
			<vscode-button id="addRowButton" appearance="secondary">Добавить строку</vscode-button>
			<vscode-button>Сохранить</vscode-button>
		</footer>

		<!-- Для работоспособности vscode ui toolkit -->
		<script type="module" src="{{WebviewUri}}"></script>

		<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>

		<!-- Главный js файл для этого webView -->
		<script type="module" src="{{{ExtensionBaseUri}}}/client/templates/TableListEditor/js/tableListEditor.js""></script>
	</body>
</html>