<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Редактор табличного списка</title>

		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/TableListEditor/css/table-list-editor.css">
		<link rel="stylesheet" href="{{{ExtensionBaseUri}}}/client/templates/shared/ui/toggleSwitch/css/toggle-switch.css">
		<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	</head>
    <body>
		<form class="tle">
			<div class="tle__row">
				<vscode-text-field type="text" class="jqNameInput jqInput">
					Название
					<span class="span_input-required">*</span>
				</vscode-text-field>
			</div>
			<div class="tle__row">
				<vscode-text-area resize="vertical" class="jqRuDescription">Описание (RU)</vscode-text-area>
			</div>
			<div class="tle__row">
				<vscode-text-area resize="vertical" class="jqEnDescription">Описание (EN)</vscode-text-area>
			</div>
			<div class="tle__row jqDropdownInserter">
				<label for="jqTypeDropdown">
					Назначение
					<span class="span_input-required">*</span>
				</label>
				<vscode-dropdown id="jqTypeDropdown" >
  					<vscode-option value="Registry">Справочник</vscode-option>
					<vscode-option value="CorrelationRule">Заполняется правилами корреляции</vscode-option>
  					<vscode-option value="EnrichmentRule">Заполняется правилами обогащения</vscode-option>
					<!-- раскомментить, когда будет добавляться функционал для табличных списков других типов -->
					<!-- <vscode-option value="AssetGrid">Репутационный список</vscode-option> -->
				</vscode-dropdown>
			</div>
			<div class="tle__row">
				<label>Колонки</label>
				<!-- Поменял верстку у колонки vscode-data-grid? Скопируй её в константу ../js/store/htmlStore.js/tableColumn -->
				<vscode-data-grid grid-template-columns="40px minmax(120px,1fr) minmax(120px,1fr) minmax(40px,1fr) minmax(40px,1fr) minmax(40px,1fr) 40px" aria-label="Колонки">
					<vscode-data-grid-row row-type="header">
						<vscode-data-grid-cell cell-type="columnheader" grid-column="1"></vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="2">
							Название 
							<span class="span_input-required">*</span>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="3">
							Тип данных
							<span class="span_input-required">*</span>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="4" id="jqPrimaryField">
							Ключевое поле 🔑
							<span class="span_input-required">*</span>
						</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="5">Индексируемое</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="6">Может содержать null</vscode-data-grid-cell>
						<vscode-data-grid-cell cell-type="columnheader" grid-column="7"></vscode-data-grid-cell>
					</vscode-data-grid-row>
				</vscode-data-grid>
			</div>
			<div class=".tle__buttons">
				<vscode-button id="addRowButton" appearance="secondary">Добавить колонку</vscode-button>
				<vscode-button id="jqSaveButton" type="submit">Сохранить</vscode-button>
			</div>
		</form>

		<!-- Для работоспособности vscode ui toolkit -->
		<script type="module" src="{{WebviewUri}}"></script>

		<!-- Для отладки в браузере добавляю прямую ссылку на JQuery. -->
		<script	src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="{{{ExtensionBaseUri}}}/client/templates/js/jquery-3.6.0.min.js"></script>
				<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

		<!-- Главный js файл для этого webView -->
		<script type="module" src="{{{ExtensionBaseUri}}}/client/templates/TableListEditor/js/tableListEditor.js""></script>
	</body>
</html>