.root {
  display: inline-block;
  min-width: 18px;
  padding: 2px 3px;
  border: 1px solid var(--vscode-contrastBorder, transparent);
  border-radius: 2px;
  background: var(--vscode-badge-background);
  font-family: var(--vscode-font-family);
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  text-align: center;
  white-space: nowrap;
  color: var(--vscode-badge-foreground);

  &.isCounter {
    background-color: var(--vscode-activityBarBadge-background);
    border-radius: 20px;
    color: var(--vscode-activityBarBadge-foreground);
    font-size: 9px;
    font-weight: 600;
    line-height: 16px;
    padding: 0px 4px;
  }
}
