.root {
  position: absolute;
  inset: 0;
  margin: 8px 0;
  overflow-y: scroll;
}

.content {
  max-width: min(100%, 1000px);
  height: 100%;
  margin: 0 auto;
}

.splitBox {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 0;
    min-width: 360px;
  }
}

.numberTextfield {
  width: 240px !important;
}
