.root {
  position: absolute;
  inset: 0;
  margin: 8px 0;
  overflow-y: scroll;
}

.content {
  max-width: min(100%, 1000px);
  height: 100%;
  margin: 0 auto;
}

.button {
  width: auto !important;
  margin-top: 2px;
  align-self: flex-start !important;
}
