.root {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--vscode-quickInput-background);
  font-weight: 600;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
