html,
body,
#app,
#app > div,
#root {
  height: 100%;
  max-height: 100%;
  min-width: 360px;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
